<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<title><@= data.title @></title>
  	<meta http-equiv="Cache-Control" content="no-cache">
  	<!--<meta http-equiv="Cache-Control" content="max-age=2592000" />-->
  	<meta name="screen-orientation" content="portrait">
  	<meta name="x5-orientation" content="portrait">
  	<meta name="apple-mobile-web-app-capable" content="yes">
  	<meta name="apple-mobile-web-app-status-bar-style" content="black">
  	<meta name="format-detection" content="telephone=no">
  	<meta name="applicable-device" content="mobile">
    <meta name="iphonex-fullscreen">
    <@ if(data.css){ @>
        <@ if(data.css instanceof Array){ _.each(data.css,function(item){@>
			<link rel="stylesheet" id="app-css-link" href="<@= ctx +'/'+ item +'?v='+_build.ts @>" type="text/css" />
        <@ })}else{ @>
			<link rel="stylesheet" id="app-css-link" href="<@= ctx +'/'+ data.css +'?v='+_build.ts @>" type="text/css" />
        <@} @>
    <@ }else if (data.css !== null){ @>
		<link rel="stylesheet" id="app-css-link" href="<@= ctx +'/css/app.css?v='+_build.ts @>" type="text/css" />
    <@ } @>
    <script type="text/javascript" src="<@= ctx +'/js/flexible.js?v='+_build.ts @>"></script>
	<script type="text/javascript">
		var _app = {
			env : "<@= _build.env @>",
			ctx : "<@= ctx @>",
			cdn : "<@= _build.cdn @>",
			version:"<@= _build.version @>",
			ts:"<@= _build.ts @>",
			name:"app"
		};
	</script>
	
</head>
